[SddmGreeterTheme]
Name=WarGamesHD
Description=WarGames Theme for HD 16:10 Display
Author=RPINerd
Copyright=
License=CC-BY-SA
Type=sddm-theme
Version=1.0
Website=https://github.com/RPINerd/wargames_login_theme
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
Theme-Id=WarGamesHD
Theme-API=2.0
